#a{
    
    height: 55px;
    width: 50px;
    margin-top: 92px;
    text-align: center;
    color: white;
    border-radius: 12px;
    background-color: red;
    border: 0cap;
     font-size: 20px;
   font-weight: bold;
    
       
   
}

#b{
     height: 55px;
    width: 50px;
    margin-top: 92px;
    text-align: center;
    color: white;
    border-radius: 12px;
    background-color: red;
    border: 0cap;

    margin-left: 5px;
     font-size: 20px;
   font-weight: bold;
   
}

#c{
    height: 55px;
    width: 50px;
    margin-top: 92px;
    text-align: center;
    color: white;
    border-radius: 12px;
    background-color:orange;
    border: 0cap;

    margin-left: 5px;
     font-size: 20px;
   font-weight: bold;
   
   
}

#d{
    height: 55px;
    width: 50px;
    margin-top: 92px;
    text-align: center;
    color: white;
    border-radius: 12px;
    background-color:orange;
    border: 0cap;
    margin-left: 5px;
     font-size: 20px;
   font-weight: bold;
   
   
}

#e{
    height: 55px;
    width: 50px;
    margin-top:8px;
    text-align: center;
   color: white;
    border-radius: 12px;
    background-color:rgb(59, 66, 94);
    border: 0cap;
     font-size: 20px;
   font-weight: bold;
    
   
   
}

#g{
   height: 55px;
    width: 50px;
    margin-top:8px;
    text-align: center;
    color: white;
    border-radius: 12px;
    background-color:rgb(59, 66, 94);
    border: 0cap;
    
   margin-left: 5px;
    font-size: 20px;
   font-weight: bold;
}

#h{
    height: 55px;
    width: 50px;
    margin-top:8px;
    text-align: center;
    color: white;
    border-radius: 12px;
    background-color:rgb(59, 66, 94);
    border: 0cap;
    
   margin-left: 5px;
    font-size: 20px;
   font-weight: bold;
   
}

#i{
    height: 55px;
    width: 50px;
    margin-top:8px;
    text-align: center;
    color: white;
    border-radius: 12px;
    background-color:orange;
    border: 0cap;
    
   margin-left: 5px;
    font-size: 20px;
   font-weight: bold;
}

#j{
    height: 55px;
    width: 50px;
    margin-top:8px;
    text-align: center;
    color: white;
    border-radius: 12px;
    background-color:rgb(59, 66, 94);
    border: 0cap;
     font-size: 20px;
   font-weight: bold;
   
}
#k{
    height: 55px;
    width: 50px;
    margin-top:8px;
    text-align: center;
     color: white;
    border-radius: 12px;
    background-color:rgb(59, 66, 94);
    border: 0cap;
   margin-left: 5px;
    font-size: 20px;
   font-weight: bold;
   
}
#l{
    height: 55px;
    width: 50px;
    margin-top:8px;
    text-align: center;
     color: white;
    border-radius: 12px;
    background-color:rgb(59, 66, 94);
    border: 0cap;
   margin-left: 5px;
    font-size: 20px;
   font-weight: bold;
   
}

#m{
    height: 55px;
    width: 50px;
    margin-top:8px;
    text-align: center;
     color: white;
    border-radius: 12px;
    background-color:orange;
    border: 0cap;
   margin-left: 5px;
    font-size: 20px;
   font-weight: bold;
   
}
#n{
   height: 55px;
    width: 50px;
    margin-top:8px;
     color: white;
    border-radius: 12px;
    background-color:rgb(59, 66, 94);
    border: 0cap;
    border-radius: 12px;
     font-size: 20px;
   font-weight: bold;
}
#o{
    height: 55px;
    width: 50px;
    margin-top:8px;
    text-align: center;
     color: white;
    border-radius: 12px;
    background-color:rgb(59, 66, 94);
    border: 0cap;
   margin-left: 5px;
    font-size: 20px;
   font-weight: bold;
   
}
#p{
    height: 55px;
    width: 50px;
    margin-top:8px;
    text-align: center;
     color: white;
    border-radius: 12px;
    background-color:rgb(59, 66, 94);
    border: 0cap;
   margin-left: 5px;
    font-size: 20px;
   font-weight: bold;
   
}

#q{
    height: 55px;
    width: 50px;
    margin-top:8px;
    text-align: center;
    color: white;
    border-radius: 12px;
    background-color:orange;
    border: 0cap;
   margin-left: 5px;
    font-size: 20px;
   font-weight: bold;
   
}
#r{
    height: 55px;
    width: 105px;
    margin-top:8px;
    text-align: center;
    color: white;
    border-radius: 12px;
    background-color:rgb(59, 66, 94);
    border: 0cap;
     font-size: 20px;
   font-weight: bold;
    
   
}
#s{
    height: 55px;
    width: 50px;
    margin-top:8px;
    text-align: center;
    color: white;
    border-radius: 12px;
    background-color:rgb(59, 66, 94);
    border: 0cap;
   margin-left: 5px;
    font-size: 20px;
   font-weight: bold;
}

#t{
   height: 55px;
    width: 50px;
    margin-top:8px;
    text-align: center;
    color: white;
    border-radius: 12px;
    background-color:orange;
    border: 0cap;
   margin-left: 5px;
   font-size: 20px;
   font-weight: bold;
   
}

